// MIS VARIABLES Y LAS DE DELTA

.logo {
    width: 50px;
    height: auto;
  }
  
  .heightctn {
    height: 70vh;
  }
  
  .bnd-img {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  